* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	text-align: center;
	font-size: 1.75em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.menuItem {
	border: 1px solid black;
	float: left;
	margin: 10px 10px 10px 10px;
	background-color: #808080;
}
.menuHeader {
	border: 1px solid black;
	float: right;
	text-align: center;
	font-size: 1.25em;
}
.row {
	width: 100%;
}
.textBox {
	float: left;
	height: 110px;
	margin-bottom: 10px;
	overflow-y: hidden;
}
.textBox p {
	padding: 16px 16px 16px 16px;
}
.textBox:hover {
	overflow-y: scroll;
}
.textBox:hover p {
	padding-right: 0px;
}
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
	}
	.col-lg-4 {
		width: 33%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}
@media (min-width: 768px) {
	#mobile_header {
		display: none;
	}
	.menuHeader {
		width: 33%;
		border-right: none;
		border-top: none;
	}
	.extraDescription {
		display: none;
	}
}
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	#header {
		display: none;
	}
	.menuHeader {
		width: 100%;
		border-left: none;
		border-right: none;
		border-top: none;
	}
}
#chicken {
	background-color: #ffff00
}
#beef {
	background-color: #ff0000;
}
#sushi {
	background-color: #00ffff;
}
#mobile_header {
	text-align: left;
	margin-left: 10px;
	font-size: 1.5em;
	font-family: "Times New Roman", Times, serif;
}