* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul {
	background-color: #42dcf4;
}
section {
	background-color: #808080;
	border: 1px solid black;
}
.section-box {
	margin-bottom: 20px;	
}
.navbar-brand > p {
	font-size: 2em;
	font-weight: 700;
}
h3 {
	font-weight: 600;
}